/*Silver Fox: #d4d4dc

Deep Matte Grey: #393f4d

Dark Slate: #1d1e22
Are ya yellow?!: #feda6a
Light Orange: #ec7f37 */

.jumbotron{
	background-color: lightblue;
}

.bg-light {
	background-color: #393f4d !important;
}

.nav-link {
	color: #feda6a !important;
}

.navbar-brand,
.navbar-text {
    color: #deaa8a !important;
}

.nav-item.active .nav-link {
	color: #c85870 !important;
}

.nav-item:hover .nav-link {
	color: #c82850 !important;
}