@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #393f4d;
	background-image: linear-gradient(90deg, #323d46 0%, #393f4d 3% 97%, #323d46 100%);
}

.navbar {
	/*overflow: hidden;*/
	background-color: #1d1e22;
	background-image: linear-gradient(105deg, #131417 0%, #1d1e22 5% 95%, #131417 100%);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 3%;
}

.navbar ul {
	margin: 0;
	padding: 0;
	background-color: #1d1e22;
}

#myLinks, .navbar .nav-links li, a {
	background-color: #1d1e22;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #e0e6e6;
	text-decoration: none;
}

#myLinks {
	display: none;
}

.navbar .cta {
	order: 3;
	margin-left: auto;
	padding: 0px 64px 0px 0px;
}

.navbar .hamburger-icon {
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	margin-left: auto;
	background: black;
	right: 0;
	top: 0;
}

.navbar .logo {
	cursor: pointer;
}

.navbar .nav-links {
	order: 2;
	list-style: none;
}

.navbar .nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.navbar .nav-links li:nth-child(1) {
	padding: 0px 20px 0px 60px;
}

.navbar .nav-links li a {
	color: #feda6a;
	transition: all 0.3s ease 0s;
}

.navbar .nav-links li a:active {
	color: #c85870;
}

.navbar .nav-links li a:hover {
	color: #c82850;
}

.contact-btn {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
	color: #ffffe6;
	margin-left: 20px;
	padding: 9px 25px;
	background-color: rgba(105,21,42,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.contact-btn:hover {
	background-color: rgba(105,21,42,0.8);
}


@media screen and (min-width: 1268px) {
    .navbar .hamburger-icon, #myLinks {
    	display: none !important;
    }
}

@media screen and (max-width: 1268px) {
    .navbar .nav-links, .cta {
    	display: none !important;
    }
}



